<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_69</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_71</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_72</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_73</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_74</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_76</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_77</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_78</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_79</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_81</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_82</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_83</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_84</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_85</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_86</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_87</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kobe</string>
		<key>imageName</key>
		<string>Snip20160515_88</string>
	</dict>
</array>
</plist>
